.overflow-hidden {
  overflow: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.justify-center {
  justify-content: center;
}

.gap-2 {
  gap: 0.4rem;
}

/* ---------------------------- MARGIN & PADDING ---------------------------- */
.m-0 {
  margin: 0 !important;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 0.4rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

/* ----------------------------- TEXT FORMATTING ---------------------------- */
.text-large {
  font-size: large;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.text-green {
  color: green;
}

.text-purple {
  color: purple;
}

.text-red {
  color: red;
}

.bg-green-1 {
  background-color: #7cb342;
}

.bg-red-1 {
  background-color: #ff1b1b;
}

.inline-block {
  display: inline-block !important;
}

.min-w-fit-content {
  min-width: fit-content;
}

.min-w-max-content {
  min-width: max-content;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.rounded-full {
  border-radius: 9999px;
}

/* ----------------------------- WIDTH & HEIGHT ----------------------------- */
.w-0 {
  width: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-2 {
  height: 0.5rem;
}

.h-2\.5 {
  height: 0.625rem;
}

.h-3 {
  height: 0.75rem;
}

.h-3\.5 {
  height: 0.875rem;
}

/* ---------------------------- BACKGROUND COLORS --------------------------- */
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

/* ----------------------------- TEXT FORMATING ----------------------------- */
.uppercase {
  text-transform: uppercase;
}

/* ---------------------------------- MISC ---------------------------------- */
.no-select {
  user-select: none;
}

.not-visible {
  visibility: hidden;
}

.hr {
  width: 100%;
  background-color: transparent;
}

/* ------------------------------- ANIMATIONS ------------------------------- */
.animate-pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.timer {
  position: absolute;
  animation: hurry 0.5s ease-in-out alternate infinite;
  font-weight: bold;
  right: 9.3rem;
}

@keyframes hurry {
  0% {
    transform: scale(1.25);
  }
}

.swing {
  transform-origin: center top;
  animation: swing 0.35s forwards linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
