.overflow-y-auto {
  overflow-y: auto;
}

.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.justify-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.text-large {
  font-size: large;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.text-green {
  color: green;
}

.text-purple {
  color: purple;
}

.text-red {
  color: red;
}

.bg-green-1 {
  background-color: #7cb342;
}

.bg-red-1 {
  background-color: #ff1b1b;
}

.inline-block {
  display: inline-block !important;
}

.cursor-pointer {
  cursor: pointer;
}
